src/main/mule/resource-onboarding-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="resource-onboarding-main">
        <http:listener config-ref="Https_Listener_Config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="resource-onboarding-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
        <flow name="resource-onboarding-console">
        <http:listener config-ref="Https_Listener_Config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="resource-onboarding-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\incident:application\json:resource-onboarding-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request method="POST" doc:name="calling prc api" doc:id="3a4cf355-a0b2-405c-ae7c-69ea3b781964" config-ref="HTTPS_Request_configuration" path="/api/incident">
            <http:headers><![CDATA[#[output application/java
---
{
	'client_secret' : 'fght565u7i92i90828u8908',
	'client_id' : 'eff89760678429u8hg',
	'Content-Type' : 'application/json'
}]]]></http:headers>
        </http:request>
        <ee:transform doc:name="Transform Message" doc:id="5d384b2a-a188-48cd-9793-98b26f9012f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d1f58bd8-6698-4cb6-810c-ad3b36c51ae7" message='"#[payload]-------------------------End of the dlow logger: Created Incident Successfully"' />
    </flow>
    <flow name="put:\incident:application\json:resource-onboarding-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request method="PUT" doc:name="calling prc api" doc:id="a67d2285-4cf3-4998-984f-37d11c1c866e" config-ref="HTTPS_Request_configuration" path="/api/incident">
            <http:headers><![CDATA[#[output application/java
---
{
	'client_secret' : 'fght565u7i92i90828u8908',
	'client_id' : 'eff89760678429u8hg',
	'Content-Type' : 'application/json'
}]]]></http:headers>
            <http:query-params><![CDATA[#[output application/java
---
{
	'incidentId' : 'attributes.queryParams.incidentId'
}]]]></http:query-params>
        </http:request>
        <ee:transform doc:name="Transform Message1" doc:id="354fa8b0-0789-460e-9d52-91ada0a07c23">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="80aaebf3-015c-4ad2-b2e0-dd0e367a9684" message='"#[payload]-------------------------------End of the flow logger: Updated the Incident Successfully"' />
    </flow>
    <flow name="get:\incident:resource-onboarding-config">
        <logger level="INFO" doc:name="start log" doc:id="b166e0b7-6d1b-43f5-b2af-7dbe993fefb0" message='"Start of the flow logger: Retrieve Incident"' />
		<http:request method="GET" doc:name="calling prc api" doc:id="d98b4ac6-a66f-48f7-a138-e742464a1c22" config-ref="HTTPS_Request_configuration" path="/api/incident">
            <http:headers><![CDATA[#[output application/java
---
{
	'client_secret' : 'fght565u7i92i90828u8908',
	'client_id' : 'eff89760678429u8hg'
}]]]></http:headers>
            <http:query-params><![CDATA[#[output application/java
---
{
	'incidentId' : 'attributes.queryParams.incidentId'
}]]]></http:query-params>
        </http:request>
        <ee:transform doc:name="Transform Message1" doc:id="058bdb89-4851-436e-8303-794f498d7603">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="49512e9e-c43b-456d-a177-a61dae170634" message='"#[payload]-----------------------------End of the flow logger: Retrieved Incident Successfully"' />
    </flow>
</mule>
